*.iml
.gradle
.idea/*
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
gradle/
/captures
gradle.properties
api_keys.xml
.externalNativeBuild
gradlew
gradlew.bat